.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

body {
  padding: 5vw 10vw;
  background-color: #2c2c2c;
  font-family: "Noto Sans JP", sans-serif;
}

/* --------------------------------  header is simple flex --------------------------------- */

.page-header {
  margin-bottom: 5vw;
}

.dash {
  background-color: yellow;
  height: 7px;
  width: 30px;
  border-radius: 5px;
}

.page-title {
  margin: 0;
  color: white;
}

/* --------------------------------  main is grid  --------------------------------- */
.main {
  background-color: #fff;
  border-radius: 10px;
  padding: 5vw;
  margin-bottom: 5vw;
}

.author {
  text-align: center;
  margin-right: 20px;
}

.main .author {
  line-height: 1.7;
}

.author i {
  margin: 4px;
}

.profile {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.main-title {
  font-size: 40px;
  margin: 0;
}

.main-title,
.subheading,
.main p,
.main .comments-count {
}

.subheading {
  font-size: 26px;
}

.main p {
  font-size: 18px;
  line-height: 1.7;
}

.body-image {
  margin: 0;
  padding: 2vw 5vw;
}

.body-image img {
  width: 100%;
  border-radius: 10px;
}

.quote {
  font-style: italic;
}

.quote::before {
}

.comments-count {
  margin-top: 1rem;
  font-size: 2rem;
}

/* --------------------------------  comment section is grid  --------------------------------- */

.comments {
}

.comment,
.comment-add {
}

.comment {
  margin-bottom: 1.7vw;
  color: #7e7e7e;
  border-bottom: 1px solid #333;
  padding-bottom: 2vw;
}

.comment:last-child {
  border-bottom: none;
}

.comment-text {
}

.comments-count .fa-comment {
  padding-right: 10px;
}

.comment .author i {
  margin: 4px;
}

.comment .profile {
  width: 60px;
  height: 60px;
}

.comment .title {
  color: #fffdff;
}

.comment .author-name {
  color: #b4b6b3;
}

/* --------------------------------  comment form is grid  --------------------------------- */

.form-container {
  /* another grid inside the grid */
}

input[type="text"],
textarea {
  box-sizing: border-box;
}

.form-container .title,
.form-container textarea {
}

.form-container .title {
  color: white;
  margin: 0;
  text-transform: uppercase;
}

/* by default title and name goes to the the right place, but we can be explicit */
input[name="title"] {
}

input[name="name"] {
}

.form-container input[type="submit"] {
  width: 150px;
  height: 55px;
  background-color: #81aaa9;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

.form-container input,
.form-container textarea {
  width: 100%;
  background-color: #353536;
  color: white;
  border-radius: 5px;
  border-width: 0;
  font-size: 16px;
  padding-left: 10px;
}

.form-container input {
  height: 40px;
}

.form-container textarea {
  resize: none;
  padding: 10px;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
}

/* -------------------- RESPONSIVE ----------------- */

/* @media (max-width: 980px) and (min-width: 321px) { */
@media (max-width: 980px) {
  body {
    padding: 3vw 5vw;
  }

  .main-title,
  .subheading,
  .main p,
  .main .comments-count,
  .main .author,
  .comment,
  .form-container,
  .comment .author,
  .comment-text {
  }

  .main .author {
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 1.7;
  }

  .main .author i {
    margin: 10px;
  }

  .main .profile {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .main .author-name,
  .main .date {
    text-align: left;
  }

  .comment {
    padding: 0 9vw;
  }

  .comment .profile {
    display: none;
  }

  .comment .author {
    text-align: left;
  }
}
